.image-expandable {
    position: relative;
    top: 555vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px 5px;
    text-align: center;
}

.image-expandable > div > p {
    font-size: 16px;
    font-weight: 200;
}