:root {
  --violet: #5a58c6;
  --black: #0F0C0C;
  --matt-black: #1A1818;
  --dark-gray: #454343;
  --gray:#cacaca;
  --hl: #707070;
  --vl: #1A1818;
  --vl2: #454343;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main_container {
  width: 100%;
  background-color: var(--black);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.logo > img {
  width: 200px;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--black);
  padding: 40px 40px 40px 40px;
  justify-content: space-between;
  height: 20vh;
  width: 80vw;
}
.nav_items {
  background-color:var(--black);
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: space-around;
  padding-top: 25px;
  
}

.nav_items > a {
  text-decoration: none;
  color: var(--gray);
  font-weight: 100;
  font-size: 15px;
}

.nav_toggle {
  display: none;
}

.vl {
  position: absolute;
  border-left: 2px solid var(--matt-black);
  top: 11vh;
  height: 600px;
}

.vl2{
  position: absolute;
  border-left: 4px solid var(--dark-gray);
  height: 230px;
  top: 75vh;
}

.title {
  position: absolute;
  text-align: center;
  top: 30vh;
  color: white;
}

.title > h1 {
  font-size: 60px;
  font-weight: 300;
  animation-name: mainTitle;
  animation-duration: 1s;
  position: relative;
  animation-timing-function: ease-in-out;
}

@keyframes mainTitle {
  0% {
    top: -8rem;
  }
  100% {
    top: 0px;
  }
}

.title > p {
  font-size: 60px;
  font-weight: 300;
  animation-name: titlep;
  animation-duration: 1.1s;
  position: relative;
  animation-timing-function: ease-in-out;
}

@keyframes titlep {
  0% {
    top: -5rem;
  }
  100% {
    top: 0px;
  }
}

.title > p {
  font-size: 55px;
  font-weight: 400;
  color: var(--violet);
}

.hl {
  position: absolute;
  border-bottom: 5px solid var(--hl);
  width: 110px;
  top: 58vh;
  border-radius: 5px;
  animation-name: hl;
  animation-duration: 1.1s;
  animation-timing-function: ease-in-out;
}

@keyframes hl {
  0% {
    top: 45vh;
  }
  100% {
    top: 58vh;
  }
}

.company {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20rem;
  top: 62vh;
  height: 70px;
}

.company > img {
  /* height: 28px; */
  animation-name: company;
  animation-duration: 3s;
  animation-timing-function: ease;
  border-radius: 50%;
}

@keyframes company {
  0% {
    height: 50px;
  }
  50%{
    height: 100px;
  }
  60%{
    height: 90px;
  }
  70% {
    height: 100px;
  }
  80% {
    height: 90px;
  }
  92% {
    height: 100px;
  }
  95% {
    height: 95px;
  }
  100%{
    height: 100px;
  }
}

@media (max-width: 768px) {
  .main_container {
    width: 100%;
    background-color: var(--black);
    height: 100vh;
  }

  .navbar {
    position: relative;
    background-color: var(--black);
    height: 15vh;
    width: 100vw;
    justify-content: space-between;
    padding: 13px 2px;
  }

  .logo > img {
    width: 150px;
  }

  .title {
    position: absolute;
    height: 10vh;
    width: 100vw;
  }

  .title > h1 {
    font-size: 60px;
    font-weight: 300;
    animation-name: mainTitle;
    animation-duration: 1s;
    position: relative;
    animation-timing-function: ease-in-out;
    top: -10vh;
  }
  
  @keyframes mainTitle {
    0% {
      top: -20vh;
    }
    100% {
      top: -10vh;
    }
  }
  
  .title > p {
    font-size: 60px;
    font-weight: 300;
    animation-name: titlep;
    animation-duration: 1.1s;
    position: relative;
    animation-timing-function: ease-in-out;
    top: -10vh;
  }
  
  @keyframes titlep {
    0% {
      top: -15vh;
    }
    100% {
      top: -10vh;
    }
  }

  .title > h1 {
    font-size: 30px;
    font-weight: 200;
  }
  
  .title > p {
    font-size: 30px;
    font-weight: 300;
    color: var(--violet);
  }

  .vl {
    position: absolute;
    border-left: 2px solid var(--vl);
    top: 11vh;
    height: 100vh;
  }
  .vl2{
    position: absolute;
    border-left: 3px solid var(--vl2);
    height: 200px;
    top: 50vh;
  }

  .hl {
    position: absolute;
    border-bottom: 5px solid var(--hl);
    width: 110px;
    top: 32vh;
    left: 37vw;
    border-radius: 5px;
    animation-name: hl;
    animation-duration: 1.1s;
    animation-timing-function: ease-in-out;
  } 
  
  @keyframes hl {
    0% {
      top: 15vh;
    }
    100% {
      top: 32vh;
    }
  }
  .company {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    top: 35vh;
    height: 70px;
    background-color: aqua;
  }
  .company > img {
    height: 50px;
    animation-name: company;
    animation-duration: 2s;
    animation-timing-function: ease;
  }
  
  @keyframes company {
    0% {
      height: 0px;
    }
    50%{
      height: 22px;
    }
    60%{
      height: 20px;
    }
    70% {
      height: 22px;
    }
    80% {
      height: 20px;
    }
    
    92% {
      height: 20px;
    }
    95% {
      height: 22px;
    }
  }

  .nav_items {
    position: absolute;
    top: 9.5vh;
    background: var(--black);
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 40vh;
    transform: translateX(-100%);
    transition: 0.3 ease all;
  }

  .nav_items.open {
    transform: translateX(0) !important;
    padding-left: 3.5vw;
  }
  .nav_toggle {
    display: grid !important;
    align-content: baseline;
    height: 0px;
    margin: 15px;
  }
  .nav_toggle span {
    width: 25px;
    height: 3px;
    background: white;
    margin-bottom: 3px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
    left: -10vw;
  }
  .nav_toggle.open > span {
    transform: rotate(45deg) translate(0px, 0px);
  }
  .nav_toggle.open > span:nth-child(2) {
    display: none;
  }
  .nav_toggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px,1px);
  }

  .company > img {
    position: relative;
    left: -35vw;
    top: -27vh;
  }

  .title.open{
    display: none;
  }
  .hl.open {
    display: none;
  }
  .company.open {
    display: none;
  }
}